<div class="image">
  <img src = "https://i.imgur.com/vzB9wEQ.jpg" class="img-fluid" >
</div>
<h2 class="text">Типи закладів</h2>
<%= render partial: 'shared/flash',  flash: flash %>

<br>
<div class="container col-md-6 list-group-item px-20">
  <% @institutions.each do |institution| %>
  <p><strong>Тип :</strong> <%= institution.name %></p>
    <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
      <%= link_to 'Редагувати', edit_institution_path(institution), class: 'btn btn-outline-success' %>
      <%= link_to 'Видалити', institution, method: :delete, data: { confirm: 'Ви впевнені?' }, class: 'btn btn-outline-success' %>
    </div>
  <hr>
  <% end %>
</div>
