<h1 align="center">Добавити заклада</h1>

<%= render 'form', restaurant: @restaurant %>


<div class="form-group">

<%= link_to 'Назад', restaurants_path, class: "btn btn-secondary btn-sm" %>

</div>
