<div class="image">
  <img src = "https://i.imgur.com/vzB9wEQ.jpg" class="img-fluid" >
</div>
<h2 class="text">Редагування міста</h2>
<%= render partial: 'shared/flash',  flash: flash %>
<%= render 'form', city: @city %>
