// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.img-show{
  display:block;
  margin-bottom: 2em;
}
.thumb{
  float: left;
  margin-right: 1em;
}

.title {
    color: green;
    font-weight: 700;
    font-size: 30px;
}
.title:hover {
  color: green;
}
.image {
  position: relative;
  width: 100%;
}
.text {
  position: absolute;
  top: 150px;
  left: 1em;
  width: 100%;
  color: white;
}
.icn_dish{
  font-size: 21px;
  display: block;
  background-size: 21px auto;
  margin-bottom: 3px;
}
.blog_link{
  font-size: 15px;
  margin-right: 9px;
  color: green;
}
.blog_link:hover {
  color: green;
}
