// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.img-show{
  display:block;
  margin-bottom: 2em;
}
.thumb{
  float: left;
  margin-right: 1em;
}

.title {
    color: #ee3739;
    font-weight: 700;
    font-size: 30px;
}
.title:hover {
  color: #ee3739;
}
.image {
  position: relative;
  width: 100%;
}
.text {
  position: absolute;
  top: 100px;
  left: 1em;
  width: 100%;
  color: white;
}
